<div class="conteiner-fluid d-flex justify-content-start">
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-secondary " style="width: 10%; height: 78vh;">
      <a routerLink="/home" class="mb-3 mb-md-0 me-md-auto text-decoration-none">
        <span class="fs-5 ms-2 text-white">Início</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a routerLink="/cafe" routerLinkActive="router-link"  class="nav-link fs-5 text-white" aria-current="page">
            Café
          </a>
        </li>
        <hr>
      </ul>
    </div>
    <div class="home">
      <router-outlet></router-outlet>
    </div>
</div>
  