p{
    margin-right: 1rem;
}

span.nome{
    font-weight: 300;
}

 .coracao{
    color: red;
}

.content{
    justify-content: end;
}

@media only screen and (max-width: 600px) {
     .content{
       padding-top: .8rem;
       justify-content: center;
       
    }

}